<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    
    <h1>Ola voce e novo aqui legal vamos comecar!</h1>
    <form action="/usuarios/novo" method="POST">
        <section>
            <label>Digite o nome do usuário: </label>
            <input type="text" name="username" placeholder="Digite o nome do usuário" />
        </section>

        <section>
            <select name="patch">
                <option value="Profissao">Profissao</option>
                <option value="Hobby" selected>Hobby</option>
                <option value="Estudo">Estudo</option>
            </select>
        </section>

        <section>
            <label>Senha: </label>
            <br />
            <input placeholder="password" name="password" type="password">
        </section>

        <button>Enviar</button>
    </form>
</body>
</html>